<p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>

   		<div id="photos-wrapper">
    			<div id="photos-leftarrow">
	    		</div>
	    		<div id="photos-slideshow">
		    		<div id="photos-thephoto" class="fadein">
	    				<img src="https://static.ashleyjeremy.com/photo1.jpg" alt="photo1" width="853" height="505">
	    				<img src="https://static.ashleyjeremy.com/photo2.jpg" alt="photo2" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo3.jpg" alt="photo3" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo4.jpg" alt="photo4" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo5.jpg" alt="photo5" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo6.jpg" alt="photo6" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo7.jpg" alt="photo7" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo8.jpg" alt="photo8" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo9.jpg" alt="photo9" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo10.jpg" alt="photo10" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo11.jpg" alt="photo11" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo12.jpg" alt="photo12" width="853" height="505" style="display: none;">
	    				<img src="https://static.ashleyjeremy.com/photo13.jpg" alt="photo13" width="853" height="505" style="display: none;">
	    			</div>
	    		</div>	
    			<div id="photos-rightarrow">
    			</div>
    	</div>