
    		<div id="ceremony-box-top">
    		</div>
    		<div id="box1-middle">
    			<img src="assets/images/green_lounge_final.jpg" alt="stpatricks_picture" width="595" height="234">
				<br>
				<h3>Green Lounge Fusion</h3>
				<br>
    			<!--<img src="https://static.ashleyjeremy.com/thewedding_stpatricks.png" alt="thewedding_stpatricks" width="657" height="72" class="image_box1_content">-->
				<div class="sidebar-venue-contact-info">
				 	     	 <h3 class="sidebar-heading">Contact Details</h3>
				 	     	 <!-- contact-info starts -->
				 	     	 <div class="contact-info">
				 	     	 	<ul class="contact-info-list">
				 	     	 		<li class="address">
				 	     	 			B-6, G.T Karnal Road, Industrial Area, Shakti Nagar, New Delhi - 110033
				 	     	 		</li>
				 	     	 		<li class="mobile">
				 	     	 			<a href="tel:918010931931">+91-8010931931</a>, <a href="tel:919899241130">+91-9899241130</a>, <a href="tel:919899241131">+91-9899241131</a>, <a href="tel:919899241132">+91-9899241132</a>
				 	     	 		</li>
				 	     	 		<li class="email">
				 	     	 			<a href="mailto:loungegreenfusion@gmail.com">loungegreenfusion@gmail.com</a>
				 	     	 		</li>
				 	     	 	</ul>
				 	     	 </div>
				 	     	 <!-- contact-info ends -->
				 	     </div>
    			<br>
				<a href="https://www.google.com/maps/dir/?api=1&destination=B-6, GT Karnal Rd, Industrial Area, GT Karnal Road Industrial Area, Shakti Nagar, Delhi, 110033&travelmode=driving" class="btn btn-primary">Navigate to location</a>
    			<!--<button pButton type="button" label="Click" (click)="handleClick($event)"></button>-->
				<!--<p><a href="http://www.saintpatrickdc.org/" target="_blank">view website &gt;&gt;</a></p>-->
    		</div>
    		<div id="box1-bottom">
    		</div>
    		<div id="reception-box-top">
    		</div>
    		<div id="box1-middle">
    			<img src="assets/images/wedding_villa_final.jpg" alt="mayflower_picture" width="595" height="234">
    			<!--<img src="https://static.ashleyjeremy.com/thewedding_mayflower.png" alt="thewedding_mayflower" width="657" height="93" class="image_box1_content">-->
				<br>
				<h3>Wedding Villa</h3>
    			<br>
				<div class="sidebar-venue-contact-info">
				 	     	 <h3 class="sidebar-heading">Contact Details</h3>
				 	     	 <!-- contact-info starts -->
				 	     	 <div class="contact-info">
				 	     	 	<ul class="contact-info-list">
				 	     	 		<li class="address">
				 	     	 			C-3, Opp.kendriya Vihar Gate No.2, Sector 51, Near City Center Metro Station, Noida
				 	     	 		</li>
				 	     	 		<li class="mobile">
				 	     	 			<a href="tel:9108071288578 ">+91-08071288578</a>
				 	     	 		</li>
				 	     	 		<li class="email">
				 	     	 			<a href="mailto:gouravchhabra747@gmail.com">gouravchhabra747@gmail.comm</a>
				 	     	 		</li>
				 	     	 	</ul>
				 	     	 </div>
				 	     	 <!-- contact-info ends -->
				 	     </div>
						  <a href="https://www.google.com/maps/dir/?api=1&destination=c3 opp kendriya vihar gate, Street Number 2, Hoshiarpur Village, Sector 51, Noida, Uttar Pradesh 201301&travelmode=driving" class="btn btn-primary">Navigate to location</a>
				<!--<button pButton type="button" label="Click" (click)="handleClick($event)"></button>-->
				<!--<p><a href="http://www.marriott.com/hotels/hotel-information/travel/wassh-the-mayflower-renaissance-washington-dc-hotel/" target="_blank">view website &gt;&gt;</a></p>-->
    		</div>
    		<div id="box1-bottom">
    		</div>